<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Modifier {{alarme["nom"]}} </ion-title>
    <ion-buttons slot="end">
      <ion-back-button
    [routerLink]='"/alarmes"'
  ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
     <ion-item>
    <ion-label>Nom :</ion-label>
    <ion-input [(ngModel)]="alarme.nom"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Emploi du temps / Heure de début</ion-label>
    <ion-select [(ngModel)]="empl">
      <ion-select-option *ngFor="let heure of emploiDuTemps.temps" value="{{heure}}">{{heure.heures}} : {{heure.minutes}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Jour(s)</ion-label>
    <ion-select [multiple]="true">
      <ion-select-option>
        Lundi
      </ion-select-option>
      <ion-select-option>
        Mardi
      </ion-select-option>
      <ion-select-option>
        Mercredi
      </ion-select-option>
      <ion-select-option>
        Jeudi
      </ion-select-option>
      <ion-select-option>
        Vendredi
      </ion-select-option>
      <ion-select-option>
        Samedi
      </ion-select-option>
      <ion-select-option>
        Dimanche
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Temps pour se reveiller</ion-label>
    <ion-input [(ngModel)]="reveil" type="number" placeholder="0" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Temps pour arriver</ion-label>
    <ion-input [(ngModel)]="arriver" type="number" placeholder="0"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Trajet</ion-label>
    <ion-select [(ngModel)]="traj">
      <ion-select-option  *ngFor="let trajet of trajets.trajets" value="{{trajet}}">{{trajet.depart.nom}}->{{trajet.arrivee.nom}}</ion-select-option>
    </ion-select>
  </ion-item>
    <ion-button (click)="calculer()">Calculer l'heure du réveil</ion-button>
</ion-content>
