<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Aides </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Comment ajouter une alarme ?</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Comment modifier une alarme ?</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Comment ajouter un lieu de travail ?</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Comment ajouter un emploi du temps ?</ion-label>
  </ion-item>
</ion-content>
